<!-- This header will appear at the top of every page -->
<!DOCTYPE html>
<html>
    <head>
    <meta charset='utf-8'>
    <title>Grizzly Book</title>
    <!-- Loads Twitter's Bootstrap CSS from the Bootstrap CDN -->
    <!-- http://getbootstrap.com/ -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    </head>
    <body class ="container">
        <h1>
            Grizzly Book
            <% entries.length %>
            <a href="/new-entry" class="btn btn-primary pull-right">
                Write in the grizzlybook
            </a>
        </h1>
    </body>
</html>