<% include header %>
<% if (entries.length) { %>
    <% entries.forEach(function(entry) { %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted pull-right">
                    <%= entry.published %>
                </div>
                <%= entry.title %>
            </div>
            <div class="panel-body">
                <%= entry.content %>
            </div>
        </div>
        <% }) %> 
<% } else { %>
<h2>No entries! <a href="/new-entry" style="font-size:30px; color:purple">Add one!</a></h2>
<% } %>
<% include footer %>